
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared stylles */
* {
    font-family: "Work Sans", sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFF;
    border: none;
    cursor: pointer;
}
.section-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.text-gray{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
header h3{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: #424242;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}
/* banner styles */
.banner-content{
    max-width: 860px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
.banner img{
    width: 100%;
    margin-top: 20px;
}
/* features section styles */
.feature{
    display: flex;
    gap: 140px;
    margin-top: 130px;
}
.feature-content .feature-title{
    font-size: 3rem;
    color: var(--Dark-01, #131313);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    height: 171px;
    padding: 20px;
    margin-bottom: 20px;
}
.feature-card h3{
    color: var(--Dark-01, #131313);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.badge{
    padding: 40px;
    text-align: center;
    background-color: #FF900E;
    border-radius: 8px;
    width: 330px;
    /* height: 170px; */
    position: relative;
    bottom: 130px;
}
.badge h2{
    font-size: 3.2rem;
    font-weight: 700;
    color: #FFF;
    margin: 0;
}
.badge p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFF;
    margin: 0;
}
.feature-img img{
    height: 90%;
    margin-left: 50px;
}
/* teams styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}
.teams-content{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team{
    padding-left: 70px;
    padding-right: 40px;
}
.team-title{
    font-size: 2.8rem;
}
.quick{
    font-weight: 500;
    color: #727272;
}
.features{
    font-weight: 700;
    color: #FF900E;
}
.teams-description{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}
.card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-container{
    display: flex;
    justify-content: space-between;
}
.card-container .card{
    padding: 35px 25px;
    text-align: center;
}
.card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}
.card-text{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* sponsors styles */
.sponsors{
    padding: 20px;
    text-align: center;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}
.sponsors-img-container img{
    width: 165px;
    height: 50px;
}
/* media queries */
/* mobile devieces */
@media screen and (max-width: 776px) {
    header{
        padding: 20px;
    }
    nav, .card-container, .feature, .sponsors-img-container{
        flex-direction: column;
    }
    .feature-img img{
        width: 100%;
        margin-left: 0;
    }
    .badge{
        max-width: 300px;
        position: static;
        margin: 0;
        padding: 0;
    }
  
    .teams-content{
        flex-direction: column-reverse;
    }
    .team, .card-container{
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    
}

/* tablet devices */
@media screen  and (min-width: 777px) and (max-width:1192px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .teams-content, .feature{
        flex-direction: column-reverse
    }
    .team{
        margin-bottom: 20px;
    }
}